* {
    box-sizing: border-box;
    margin: 20;
    padding: 0;
    /* font-family: monospace; */
    background-color: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.show {
    display: block;
}

.hide {
    display: none;
}

h1, h2 {
    text-align: center;
    font-size: large;
    background: linear-gradient(45deg, rgb(253, 158, 41), rgb(14, 254, 114), rgb(21, 9, 249), rgb(252, 38, 81));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    text-align: center;
}

@keyframes color{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

button {
    cursor: pointer;
    color: white;
}

ul {
    cursor: pointer;
    list-style-type: none;
}

#container {
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 100px;
}

#timer {
    position: absolute;
    top: 10px;
    right: 16px;
}